#body_el{
    background-color: #bdc3c7;
}

#h1_el{
    color:#9b59b6;
}

#h1_el:hover{
    color:blue;
}

#h2_el{
    color:orange
}

.li_el{
    color:blue;
}

.description{
    color:yellow
}

.input_all{
    border-width: 3px;
    border-color: red;
}

.hello{
    background-color: white;
}

#special{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(72, 75, 247);
    
}

#special::first-letter{
    color:green;
    font-size:100px;
}

div>p{
    font-size: 25px;
}

#in_text{
    background-color: grey;
}

#h2d3+p{
    background-color: pink;
}

#d3{
    font-size: 20px;
    color:white;
}

label{
    text-transform: uppercase;
}

a:active{
    color:grey;
}